<div class="container">
	<ul class="article-list" *ngIf="contentList">
	  <li class="article-card" *ngFor="let content of contentList">
		<section>
			<div class="article-cover">
				<img loading="lazy" alt="{{ content.name | filename }}" src="{{ imageRootUri }}{{ content.name | filename: 'img' }}" width=640 height=320 onerror="this.src='./assets/default.svg">
			</div>
			<div class="article-title card-title glass-back">
			    <a class="article-link" routerLink="/index" [fragment]="content.name">
					<h2>{{ content.name | filename }}</h2>
			    </a>
			</div>
		</section>
	  </li>
	</ul>
  <ul class="article-list" *ngIf="!contentList">
    <li class="article-card loading">
    </li>
    <li class="article-card loading">
    </li>
    <li class="article-card loading">
    </li>
    <li class="article-card loading">
    </li>
  </ul>
</div>
