html {
  font: normal normal normal 16px/150% 'BlinkMacSystemFont', 'Helvetica Neue', 'Roboto', 'PingFang SC', 'Microsoft YaHei', '微软雅黑', 'STHeitiSC-Light', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  background: #FAFAFA;
  color: #37474F;
  min-height: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background: #FAFAFA;
  font-size: 1rem;
}

header.global {
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  box-sizing: border-box;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  line-height: 3rem;
  font-family: Georgia, serif;
  font-style: italic;
  text-align: center;
  color: transparent;
  background-color: rgba(82, 96, 117, 0.5);
  -webkit-background-clip: text;
  text-shadow: rgba(255, 255, 255, 0.5) 0 .3rem .4rem, rgba(255, 255, 255, 0.2) .1rem .3rem .3rem;
}

.hidden {
  display: none;
}

.glass-back {
  background: rgba(0, 0, 0, 0.8);
}

@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) {
  .glass-back {
    -webkit-backdrop-filter: saturate(180%) blur(12px);
    backdrop-filter: saturate(180%) blur(12px);
    background: rgba(0, 0, 0, 0.6);
  }

}

footer.global {
  text-align: center;
  padding: 1rem 0;
}

.footer-item {
  display: inline-block;
  padding: .5rem;
  line-height: 2rem;
  font-size: .9rem;
  filter: grayscale();
  opacity: .4;
  transition: filter .3s, opacity .3s;
}

.footer-item:hover {
  filter: none;
  opacity: 1;
}

.footer-item>a>img {
  display: inline-block;
  vertical-align: top;
  height: 2rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

@supports(padding:max(0px)) {
  .container {
    padding-left: max(1rem, constant(safe-area-inset-left));
    padding-right: max(1rem, constant(safe-area-inset-right));
  }

}

.container.main {
  display: flex;
}

.loading {
  background: linear-gradient(90deg, transparent, #EAEAEA, transparent);
  background-size: 300% 300%;
  animation: loading 3s ease infinite;
}

@keyframes loading {
  0% {
    background-position: 0% 0%
  }

  100% {
    background-position: 150% 0%
  }

}

.fade-in {
  mask: linear-gradient(90deg, black, black, transparent, transparent);
  mask-size: 300% 300%;
  animation: fade-in .3s;
}

@keyframes fade-in {
  0% {
    mask-position: 100% 0%
  }

  100% {
    mask-position: 0% 0%
  }

}

p {
  margin: 2rem 0;
}

p.loading {
  height: 24rem;
  background-color: #E0E0E0;
}

span.loading {
  display: block;
  height: 1.2rem;
  width: 100%;
  margin: 1rem 0;
  background-color: #E0E0E0;
}

span.loading:last-child {
  width: 50%;
}

section {
}

hr {
  margin: 1.5rem 0;
  height: 1px;
  border: none;
  background: linear-gradient(to left, #fff, #CFD8DC, #CFD8DC, #fff);
}

aside {
  width: 14rem;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: #303030;
  font-weight: bold;
  transition: color .3s, background-color .3s;
}

a.lightlink {
  color: #546E7A;
  font-weight: normal;
}

a:hover {
  color: #039BE5;
}

a.lightlink:hover {
  color: #263238;
}

img {
  max-width: 100%;
}

video {
  width: 100%;
  display: block;
}

p>img {
  vertical-align: middle;
}

.button {
  display: inline-block;
  position: relative;
  border: none;
  padding: .5rem .8rem;
  font-size: .9rem;
  line-height: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  outline-width: 0;
  cursor: pointer;
  margin: 0 1rem;
  margin-top: 0;
  vertical-align: middle;
  color: #90A4AE;
  overflow: hidden;
  border: #90A4AE solid 1px;
  user-select: none;
  font-weight: normal;
}

.button:hover {
  color: #3A3A3A;
  border-color: #3A3A3A;
}

button {
  border: none;
}

.button.float-right {
  margin-right: 0;
}

.button.float-left {
  margin-left: 0;
}

button.large, .button.large {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: .8rem 1.4rem;
}

button.small, .button.small {
  font-size: .7rem;
  line-height: 1rem;
  padding: .2rem .5rem;
}

.button[disabled]:after {
  content: none;
}

a.disabled, button[disabled], button.disabled, .button[disabled], .button.disabled, input:disabled {
  opacity: .5;
  pointer-events: none;
}

.middle {
  text-align: center;
}

.full {
  width: 100%;
}

.article-text {
  word-break: break-all;
  line-height: 1.8;
  text-align: justify;
}

h1, h2, h3 {
  margin: 2rem 0;
  font-size: 2em;
  line-height: 150%;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

img.full {
  width: 100%;
}

ul, ol {
  padding-left: 2rem;
  margin: 1.5rem 0;
}

blockquote {
  margin: 0 2rem;
  font-style: italic;
  color: #607D8B;
}

pre {
  border: 1px solid #cfd8dc;
  border-radius: .2rem;
  line-height: 1.5;
  overflow: auto;
  position: relative;
  padding: .5rem;
  background: #f8f8f8;
  font-variant-ligatures: none;
  font-family: Menlo, Monaco, Consolas, Monospace;
}

code {
  font-family: Menlo, Monaco, Consolas, Monospace;
  font-size: .9em;
  padding: .2rem;
  font-weight: bold;
  color: #f06292;
  background-color: rgba(233, 235, 236, .5);
  border-radius: .2rem;
}

pre > code {
  color: #607D8B;
  font-size: .9em;
  line-height: 1.5;
  font-weight: normal;
  background: none;
  padding: 0;
  overflow: auto;
  max-height: 20rem;
}

pre > div, .code-hidden {
  display: none;
}

table {
  overflow-x: auto;
  display: block;
  padding: .5rem 1rem;
  font-size: .9em;
  border-collapse: collapse;
}

.article-text > table {
  margin-left: -1rem;
  margin-right: -1rem;
}

thead, tbody {
  white-space: nowrap;
}

thead {
  background: #FAFAFA;
}

th, td {
  border: 1px solid #CFD8DC;
  text-align: center;
  padding: 0 .4rem;
}

iframe {
  border: none;
  width: 100%;
  height: 20rem;
}

kbd {
  color: #546E7A;
  background-color: #FAFAFA;
  border-radius: .2rem;
  border: 1px solid #CFD8DC;
  border-bottom-color: #B0BEC5;
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.1), 0 .2rem 0 0 rgba(255, 255, 255, 0.7) inset;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: .9em;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 1.2rem;
  padding: .2rem .4rem;
  margin: 0 .2rem;
  vertical-align: middle;
}

:focus {
  outline: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.article-list {
  margin: -2rem 0;
  padding: 0;
}

.article-card {
  list-style: none;
  position: relative;
  margin: 2rem auto;
  max-width: 40rem;
  height: 20rem;
  background-color: #E0E0E0;
}

.article-cover {
  position: relative;
  width: 100%;
  height: 20rem;
}

.article-cover>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  padding: .6rem 1rem;
  position: absolute;
  max-width: 80%;
  left: 0;
  bottom: 2rem;
}

.card-title>a>h2 {
  margin: 0;
  color: #FAFAFA;
}

.article-header {
  margin: 1rem 0;
}

.article-header>h1 {
  margin: 0 0 1rem 0;
}

.article-meta {
  display: inline-block;
  font-size: .9rem;
  line-height: 2rem;
  height: 2rem;
  padding: 1px;
}

.article-meta>span {
  margin-right: .8rem;
  display: inline-block;
}

.article-meta>span>img {
  width: 2rem;
  height: 2rem;
  background: #E0E0E0;
  vertical-align: middle;
  border-radius: 50%;
  border: #90A4AE solid 1px;
  box-sizing: border-box;
}

.article-control-bottom {
  text-align: center;
  display: none;
}

@media only screen and (min-width:5121px) {
  html {
    font-size: 72px;
  }

}

@media only screen and (max-width:5120px) {
  html {
    font-size: 64px;
  }

}

@media only screen and (max-width:4480px) {
  html {
    font-size: 56px;
  }

}

@media only screen and (max-width:3840px) {
  html {
    font-size: 48px;
  }

}

@media only screen and (max-width:3840px) {
  html {
    font-size: 40px;
  }

}

@media only screen and (max-width:3200px) {
  html {
    font-size: 32px;
  }

}

@media only screen and (max-width:2560px) {
  html {
    font-size: 24px;
  }

}

@media only screen and (max-width:1920px) {
  html {
    font-size: 20px;
  }

}

@media only screen and (max-width:1600px) {
  html {
    font-size: 16px;
  }

}

@media only screen and (max-width:960px) {
  section.main {
    padding: 1rem;
  }

  section {
    margin-bottom: 1rem;
  }

  aside {
    margin-right: 1rem;
  }

  .content.main {
    width: calc(100% - 15rem);
  }

}

@media only screen and (max-width:768px) {
  .logo-primary {
    display: block;
    height: 3rem;
    margin: 0 auto;
    transform-origin: top center;
  }

  section.main {
    padding: 1rem;
  }

  .content.main {
    width: 100%;
  }

  section {
    width: 100%;
    border-radius: 0;
  }

  .container {
    padding: 0 5rem;
  }

  .container.main {
    display: block;
  }

}

@media only screen and (max-width:640px) {
  .container {
    padding: 0 1rem;
  }

  .article-control {
    display: none;
  }

  .article-control-bottom {
    display: block;
  }

}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment, .hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string, .hljs-doctag {
  color: #d14;
}

.hljs-title, .hljs-section, .hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type, .hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag, .hljs-name, .hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp, .hljs-link {
  color: #009926;
}

.hljs-symbol, .hljs-bullet {
  color: #990073;
}

.hljs-built_in, .hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
